
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-height: 100vh;
    max-width: 960px;
    margin: auto;
    background-image: url("images/blackjack_table_background.jpeg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
  }

.row { 
    margin-top: 5em; 
}

img {
    width: 100px;
    box-shadow: 4px 4px 4px #999;
    margin-right: 12px;
}

h1 {
    font-size: 40px;
    color: goldenrod;
}

#user_play_buttons {
    margin-top: 5em; 
    margin-right: 5em;
}

#results {
    font-size: 40px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    flex-basis: content;
}

.stats {
    display: flex;
    gap: 1em;
    justify-content: center;
}

/* #dealer_cards .responsive {
    opacity: 0;
    width: 100px;
    box-shadow: 4px 4px 4px #999;
    margin-right: 12px;
    transform: rotateY(180deg);
} */

/* animations for cards */

@keyframes animate_cards {
    from {
        margin-left: 100%;
        width: 300%;
        position: relative;
        }
    to {
        margin-left: 0%; 
        width: 100%;
        position: relative
        }
  } 

/* #dealer_cards .responsive{
    width: 100px;
    margin-right: 12px;
    animation-name: animate_cards;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-delay: 2s;
    transform: rotateY(180deg);
}  */


/* .classname {
    -webkit-animation-name: cssAnimation;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes cssAnimation {
    from {
      -webkit-transform: rotate(0deg)  translate(100px);
    }
    to {
      -webkit-transform: rotate(0deg)  translate(100px);
    }
  } */




